<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
  border:2px solid black;
}
</style>
<body>
    <div class="container">
        <div class="section">
            <form action="/" method="POST">
                <input name="name" placeholder="Name" type="text">
                <input name="score" placeholder="score" type="number" min="0" max="100">
                <input type="submit" value="Add score">
            </form>
        </div>
    </div>

    <div class="section">
        <table style="width: 25%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for x in students %} 
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.score}}</td>
                    <td>
                        <a href="/edit/{{x['id'] }}">Edit</a>
                    </td>
                    <td>
                        <a href="/delete/{{x['id'] }}"
                        onclick="return confirm('apakah anda yakin ingin menghapus?');">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
</body>
</html>